body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  font-family: 'Source Sans Pro';
}
h2 {
  font-family: 'Source Sans Pro';
}
h3 {
  font-family: 'Source Sans Pro';
}
h4 {
  font-family: 'Source Sans Pro';
}
h5 {
  font-family: 'Source Sans Pro';
}
h6 {
  font-family: 'Source Sans Pro';
}
p {
  font-family: 'Source Sans Pro';
}
div {
  font-family: 'Source Sans Pro';
}
a {
  text-decoration: none;
}
.total-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.maxWidth {
  width: 1200px;
  /* max-width: 1200px; */
}
.flex-column {
  flex-direction: column;
}

.opacity:hover {
  opacity: 0.4;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}




